@import url("fonts/nunito/style.css");
@import url("fonts/NeueFrutigerWorld/style.css");

body.page {
	background: #111111;
	background-image: radial-gradient(ellipse closest-side at 50% 50%,#1b2528,#0a0a0c);
}

body.menu {
	background: #111111;
	margin: 0;
	padding: 0;
	overflow: hidden
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111318;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #937341;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c4b998;
}

div.divbasic {
	background: #111318;
	padding: 10px 20px 10px 20px; 
	margin: 20px;
	color: #c4b998;
	font-size: 18px;
	font-family: 'NunitoRegular';
	text-align: justify;
	border: 1px solid #937341;
}

.divbasic h2 {
	width: 100%;
	text-align: center;
	margin: 5px;
	color: #937341;
}

.divbasic hr {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	height: 2px;
	border: none;
	background: linear-gradient(45deg, #111318, #937341, #111318);
}

.divbasic img {
	margin: auto;
	width: 100%;
	display: block;
}

.divbasic a {
	font-family: 'NunitoLink';
	text-decoration: none;
}

.divbasic a:link {
  color: #c4b998;
}

.divbasic a:visited {
  color: #c4b998;
}

.divbasic a:hover {
  color: #c4b998;
  text-decoration: underline;
}

.divbasic a:active {
  color: #c4b998;
}