@font-face {
    font-family: 'Neue Frutiger';
    src: local('Neue Frutiger World Regular'), local('Neue-Frutiger-World-Regular'),
        url('NeueFrutigerWorld-Regular.woff2') format('woff2'),
        url('NeueFrutigerWorld-Regular.woff') format('woff'),
        url('NeueFrutigerWorld-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  